<!doctype html>
<html>
    <head>
	<title>添加单词</title>
    </head>
    
    <body>
	<p>添加单词</p>
	<form action="add_handle" method="get">
	    <input type="text" name="name" value="" placeholder="单词" /><br>
	    <input type="text" name="phonetic" value="" placeholder="读音" /><br>
	    <textarea name="explanation" rows="6" cols="30" placeholder="解释"></textarea><br>
	    <textarea name="sentence" rows="10" cols="30" placeholder="例句"></textarea><br>
	    <button type="submit">添加</button>
	</form>
    </body>
</html>

