<!DOCTYPE html>
<html>
    <head>
        <title>生词本</title>
    </head>
    <body>
	<p>生词列表</p>
	<div><%- body %></div>
	<p><a href="add" target="_blank">添加生词</a></p>
    </body>
</html>

